<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-sm-12">
            <uib-tabset active="activeJustified" justified="true">
                <uib-tab class="contactTab" heading="Checked-In Patients">
                    <div class="customBody">
                        <table class="customTable table">
                            <thead>
                                <tr>
                                    <th>
                                        Patient Name
                                    </th>
                                    <th>
                                        Check-In Time
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="theChecked in patientGrid.checkins | orderBy: '!painScale'" ng-class="{one: theChecked.painScale == 1, two: theChecked.painScale == 2, three: theChecked.painScale == 3, four: theChecked.painScale == 4, five: theChecked.painScale == 5, six: theChecked.painScale == 6}">
                                    <td class="col-sm-6 ">
                                        <p><a class="patientList" ui-sref="admin.patient.detail({patientId: theChecked.patient.patientId })">{{theChecked.patient.lastName}}, {{theChecked.patient.firstName}}</a></p>
                                    </td>
                                    <td>
                                        <p>{{theChecked.checkInTime | date: 'medium'}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
                <uib-tab class="medicalTab" heading="All Patients">
                    <div class="customBody">
                        <table class="customTable table table-hover">
                            <thead>
                                <tr>
                                    <th class="col-sm-6">
                                        Patient Name
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="thePatient in patientGrid.patients | orderBy: 'lastName'">
                                    <td class="col-sm-6">
                                        <p><a ui-sref="admin.patient.detail({patientId: thePatient.patientId })">{{thePatient.lastName}}, {{thePatient.firstName}}</a></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
