<!--
 SIDE BAR
-->

<!-- Mobile responsibe saidebar -->
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <!-- Sidebar -->
    <ul class="nav menu">
        <li class="active">
        	<a ui-sref="admin.dashboard"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg>Dashboard</a>
        </li>
        <li>
        	<a ui-sref="admin.patient.grid"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg>Patients</a>
        </li>
        <li>
            <a  ui-sref="admin.doctor.grid"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg>Doctors</a>
        </li>
    </ul> <!-- Sidebar -->
</div> <!-- Mobile responsibe saidebar -->
