<!-- ================================= 
 SIDE BAR & SEARCH
================================== -->

<!-- Mobile responsibe saidebar -->
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <!-- Search bar -->
    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <!-- Sidebar -->
    <ul class="nav menu">
        <li class="active"><a href="index.html"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg>Dashboard</a></li>
        <li><a href="widgets.html"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Active Doctors</a></li>
        <li><a href="charts.html"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Active Patients</a></li>
        <li><a href="tables.html"><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> All Dcotors</a></li>
        <li><a href="forms.html"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> All Patients</a></li>
    </ul> <!-- Sidebar -->
</div> <!-- Mobile responsibe saidebar -->